In [1]:
1 + 2

3

In [2]:
name = "Akshay"

In [3]:
name

'Akshay'

In [4]:
print(name)

Akshay

In [7]:
print("my name is {}".format(name))

my name is Akshay

In [8]:
4 / 5

0.8

#                                                    Dictionary

In [1]:
d = {'key1':'value1','key2':123}

In [2]:
d['key1']

'value1'

In [3]:
d['key2']

123

In [4]:
d = {'k1':[1,2,3]}

In [5]:
d

{'k1': [1, 2, 3]}

In [6]:
d['k1'][1]

2

In [7]:
my_list = d['k1']

In [8]:
my_list

[1, 2, 3]

In [9]:
d = {'k1':{'innerkey':[1,2,3]}}

In [10]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [11]:
d['k1']

{'innerkey': [1, 2, 3]}

In [12]:
d['k1']['innerkey']

[1, 2, 3]

In [13]:
d['k1']['innerkey'][1]

2

#                                                    SETS

In [17]:
{1,1,1,1,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [18]:
set([1,2,2,1,2,3,3,3,3])

{1, 2, 3}

In [19]:
s = {1,2,3}

In [20]:
s

{1, 2, 3}

In [21]:
s.add(5)

In [22]:
s

{1, 2, 3, 5}

#                                                Conditional operator

In [24]:
1 < 2

True

In [25]:
1 > 2

False

In [4]:
'hi'!='hiii'

True

In [5]:
(1<2) and (2<3)

True

In [7]:
(1<2) or (2>3)

True

In [8]:
True and False

False

In [9]:
True and True and False

False

In [10]:
True or False

True

In [11]:
True or True or False

True

#                                            if and else Satement

In [3]:
if 1<2:
    print("yes")

yes

In [4]:
if True:
    print("true executed")

true executed

In [6]:
if 1==2:
    print("true")
elif 3==3:
    print("true 2")
else:
    print("false")

true 2

#                                                         for Loop

In [15]:
seq = [1,2,3,4,5]

In [16]:
for items in seq:
    print(items)

1
2
3
4
5

#                                                         while Loop

In [21]:
i = 1
while i < 5:
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

#                                                 range function

In [52]:
for x in range(0,5):
    print(x,end=" ")

0 1 2 3 4

In [25]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [27]:
d = list(range(10))

In [28]:
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
d[0] = 1

In [30]:
print(d)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#                                            list comprehension

In [35]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [36]:
out = [num**2 for num in x]

In [37]:
out

[1, 4, 9, 16]

#                                                 functions

In [38]:
def my_func(name):
    print('Hello {}'.format(name))

In [43]:
def my_func(name = 'Dafault'):
    print('Hello '+name)

In [41]:
my_func('Akshay')

Hello Akshay

In [44]:
my_func()

Hello Dafault

In [45]:
my_func

In [49]:
def square(num):
    """
    This is Docstring.
    CAN GO MULTIPLE LINES
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

In [50]:
output = square(2)

In [51]:
print(output)

4

In [ ]:
square

#                                             map function

In [53]:
def times2(var):
    return var*2
seq = [1,2,3,4]
list(map(times2,seq))

[2, 4, 6, 8]


#                                        lambda expression

In [ ]:
# lambda function is used in place of function defination

In [55]:
t = lambda var: var*2

In [56]:
t(6)

12

In [57]:
list(map(lambda var: var*3,seq))

[3, 6, 9, 12]

# Filtering

In [59]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

# String

In [60]:
s = 'Hello my name is Akshay'

In [61]:
s.lower()

'hello my name is akshay'

In [62]:
s.upper()

'HELLO MY NAME IS AKSHAY'

In [63]:
s.split()

['Hello', 'my', 'name', 'is', 'Akshay']

In [64]:
tweet = 'Go Sport! #Sport'

In [65]:
tweet.split('#')

['Go Sport! ', 'Sport']

In [66]:
tweet.split('#')[1]

'Sport'

In [67]:
d

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
d = {'k1':1,'k2':2}

In [69]:
d

{'k1': 1, 'k2': 2}

In [71]:
d.keys()

dict_keys(['k1', 'k2'])

In [72]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [73]:
d.values()

dict_values([1, 2])

In [75]:
lst = [1,2,3]

In [76]:
lst.pop()

3

In [77]:
lst

[1, 2]

In [78]:
lst.pop(0)

1

In [79]:
lst

[2]

# In Operator

In [80]:
'x' in [1,2,3]

False

In [82]:
'x' in ['x','y','z']

True

# Tuples

In [83]:
x = [(1,2),(3,4),(5,6)]

In [84]:
for (a,b) in x:
    print(a)

1
3
5

In [85]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6